@import "./base/variables.css";
@import "./base/reset.css";
@import "./base/typography.css";

@import "./layout/navbar.css";
@import "./layout/footer.css";
@import "./layout/map.css";

@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/chat-components.css";
@import "./components/flotaing.css";

@import "./pages/home.css";
@import "./pages/nearby.css";
@import "./pages/chat.css";
@import "./pages/plan.css";



/* =====================================================
   13. RESPONSIVE & PRINT
===================================================== */
@media (max-width: 576px) {
  .navbar-location {
    max-width: 110px;
    font-size: 0.75rem;
  }
}

@media print {
  body {
    background: #fff;
  }

  button,
  .plan-card {
    display: none;
  }
}
