.glass-btn {
  background: var(--primary);
  border: none;
  padding: 14px;
  border-radius: 26px;
  font-weight: 600;
  color: var(--text-light);
}

.glass-btn:hover {
  background: var(--secondary);
}